body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

header{
  background-color: tomato;
}

footer{
  background-color: darkkhaki;
}

.App-logo {
  height: 120px;
  width: 120px;
  display: inline-block;
  padding: 5px;
  float:left;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.App-menu{
  margin-left: 50px;
  height: 120px;
  display: inline-block;
  padding: 0;
  margin: 0;

}
.App-menu-item{
  margin-right: 60px;
  font-family: Monaco;
  font-size: 18px;
  font-weight: bold;

}

.Footer-text{
  text-align: center;

}
.App-content{
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
  text-indent: 25px;
  height: 400px;
  background: whitesmoke;
  color: -moz-mac-accentdarkestshadow;
  text-align: justify;
  font-size: 18px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
